media/redcore/webservices/joomla/site.contact.1.0.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/redSHOEMANIAC/media/redcore/webservices/joomla/site.contact.1.0.0.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/redSHOEMANIAC/media/redcore/webservices/joomla/site.contact.1.0.0.wsdl">
  <wsdl:types>
    <s:schema targetNamespace="http://localhost/redSHOEMANIAC/media/redcore/webservices/joomla/site.contact.1.0.0.wsdl" elementFormDefault="unqualified">
      <s:complexType name="ArrayOfStringType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="limitStart" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="limit" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="filterSearch" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:readList_filters"/>
            <s:element minOccurs="0" maxOccurs="1" name="ordering" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="orderingDirection" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readList_filters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="published" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:readListResponse_list"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readListResponse_list">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="unbounded" name="item" type="tns:readListResponse_list_item"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="readListResponse_list_item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="access" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="featured" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="language" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ordering" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="readItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:readItemResponse_item"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="readItemResponse_item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="alias" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="con_position" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="address" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="suburb" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="state" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="country" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="postcode" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="telephone" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="fax" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="misc" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="image" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="email_to" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="default_con" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="published" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="checked_out" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="checked_out_time" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="ordering" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="params" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="catid" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="access" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="mobile" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="webpage" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="sortname1" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="sortname2" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="sortname3" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="language" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="created" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="created_by" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="modified" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="modified_by" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="metakey" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="metadesc" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="metadata" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="featured" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="publish_up" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="publish_down" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="version" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="hits" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="task_hit">
        <s:complexType/>
      </s:element>
      <s:element name="task_hitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:service name="site.contact.1.0.0">
    <wsdl:documentation>Api HAL configuration for Joomla Contact component</wsdl:documentation>
    <wsdl:port name="site.contact.1.0.0_Soap" binding="tns:site.contact.1.0.0">
      <soap:address location="http://localhost/redSHOEMANIAC/administrator/index.php?webserviceClient=site&amp;webserviceVersion=1.0.0&amp;option=contact&amp;api=soap"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="readListRequest">
    <wsdl:part name="parameters" element="tns:readList"/>
  </wsdl:message>
  <wsdl:message name="readListResponse">
    <wsdl:part name="parameters" element="tns:readListResponse"/>
  </wsdl:message>
  <wsdl:portType name="site.contact.1.0.0">
    <wsdl:operation name="readList">
      <wsdl:input message="tns:readListRequest"/>
      <wsdl:output message="tns:readListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="readItem">
      <wsdl:input message="tns:readItemRequest"/>
      <wsdl:output message="tns:readItemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="task_hit">
      <wsdl:input message="tns:task_hitRequest"/>
      <wsdl:output message="tns:task_hitResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="site.contact.1.0.0" type="tns:site.contact.1.0.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="readList">
      <soap:operation soapAction="readList" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readItem">
      <soap:operation soapAction="readItem" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="task_hit">
      <soap:operation soapAction="task_hit" type="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="readItemRequest">
    <wsdl:part name="parameters" element="tns:readItem"/>
  </wsdl:message>
  <wsdl:message name="readItemResponse">
    <wsdl:part name="parameters" element="tns:readItemResponse"/>
  </wsdl:message>
  <wsdl:message name="task_hitRequest">
    <wsdl:part name="parameters" element="tns:task_hit"/>
  </wsdl:message>
  <wsdl:message name="task_hitResponse">
    <wsdl:part name="parameters" element="tns:task_hitResponse"/>
  </wsdl:message>
</wsdl:definitions>
